header,
nav,
footer,
div#contact,
div#landing-section,
div.skills-card {
  max-width: 70rem;
  margin: auto;
}

//Nav/Header
div#navWrapper {
  width: 100%;
  nav {
    position: relative;
    background-color: white;
    box-shadow: none;

    div.header-nav {
      div.logo {
        img {
        }
      }

      button {
        font-size: 0;
        i#menuIcon {
          font-size: 24px;
        }
      }
    }

    div.visible-nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1% 2%;

      div.logo {
        width: 44px;
      }
      button {
        display: none;
      }
      div.largeNav-list {
        display: initial;

        ul {
          list-style-type: none;
          display: grid;
          grid-template-columns: repeat(5, 1fr);
          gap: 0 1vw;
          text-align: center;
          width: 100%;

          li {
            margin: 0 2%;
            width: 5.5rem;
            a {
              width: 100%;
              color: $primaryDark;
              text-decoration: none;
            }
          }
        }
      }
    }
    div.nav-list {
      display: none;
    }
  }
}

div#mainWrapper {
  width: 100%;

  main {
    div#landingSectionWrapper {
      width: 100%;
      background-color: $primaryDark;
      div#landing-section {
        margin: auto;
        height: 80vh;

        div.landing-text {
          h1 {
            font-size: 4rem;
          }
          h2 {
            font-size: 2rem;
          }
          h3 {
            font-size: 1.5rem;
          }
          button {
            width: 30%;
            font-size: 32px;
            display: flex;
            align-items: center;
            justify-content: left;
          }
        }
      }
    }

    div#aboutSectionWrapper {
      width: 100%;
      background-color: lighten($primaryDark, 10%);
      div#about-section {
        max-width: 70rem;
        margin: auto;
      }

      div.skills-card {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;

        div.card {
          div.wrapper {
            height: 100%;
            div.card-header {
              height: 10.75rem;
              justify-content: unset;
              align-items: unset;
            }
            div.card-footer {
              ul {
                grid-template-columns: repeat(4, 1fr);
                gap: 10px;
              }
            }
          }
        }
      }
    }

    div#recent-work {
      div.cards {
        div.card {
          margin: 0 5px;
          div.green {
          }
        }
      }
    }

    div#contactWrapper {
      width: 100%;
      background-color: lighten($primaryDark, 10%);
      div#contact {
        width: 100%;
        padding: 2% 0;
        h2 {
          margin-bottom: 2%;
        }
        form#myForm {
          display: grid;
          grid-template-columns: auto;
          grid-template-rows: auto;
          grid-template-areas:
            "yourName email"
            "msg msg"
            "submit .";
          gap: 1%;
          p.nameArea {
            margin: 0;
            grid-area: yourName;
          }
          p.emailArea {
            margin: 0;
            grid-area: email;
          }
          p.textarea {
            margin: 0;
            grid-area: msg;
            padding: 2% 0;
          }
          p.btn {
            margin: 0;
            grid-area: submit;
            padding: 2% 0;
          }
        }
      }
    }
  }
}

//Footer
div#footerWrapper {
  width: 100%;
  background-color: $primaryDark;
  footer {
    max-width: 70%;

    div.links {
      width: 50%;
    }

    div.footerNav {
      max-width: 60%;
      margin: 1% 0;
      ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1.5fr 1fr 1fr;
        margin: 0;
        li {
          padding: 0;
          margin: 0;
          text-align: center;
          a {
          }
        }
      }
    }

    p {
      a {
      }
    }
  }
}
