footer {
  width: 40rem;
}
div#ArticlemainWrapper {
  margin-top: 0;
}

div#ArticlemainWrapper {
  #articleMAIN {
    section {
    }
    section.cardSection {
      h2 {
      }
      div#articleCards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        a.card {
          div.inner__card {
            div.cardText {
            }
          }
        }
      }
    }
  }
}
