/* rules here will be applied to all sizes, medium and large will modify from that */

/* Prevent adjustments of font size when orientation chagnes, iphones. */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  overflow-x: hidden;
}

/* Apply a natural box layout model to all elements */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

//Body
body {
  font-family: $fontFamily;
  margin: auto;
  overflow-x: hidden;
}

//Nav/Header
// div#navWrapper {
//   // scroll-behavior: auto;
//   width: 100%;
//   nav {
//     position: fixed;
//     z-index: 3;
//     top: 0;
//     width: 100%;
//     background-color: white;
//     box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
//     div.visible-nav {
//       display: flex;
//       justify-content: space-between;
//       padding: 1% 2%;

//       div.logo {
//         width: 44px;
//       }
//       button {
//         margin: 0.2rem 2%;
//         background-color: transparent;
//         border: none;
//         font-size: 1.6rem;
//         color: #555;
//         margin: 0;
//         cursor: pointer;
//       }
//       div.largeNav-list {
//         display: none;
//       }
//     }
//     div.nav-list {
//       text-align: end;
//       padding: 0 2%;
//       background-color: white;

//       ul {
//         list-style-type: none;
//         padding: 0;
//         margin: 0;

//         li {
//           a {
//             display: block;
//             padding: 0.8rem 2%;
//             text-decoration: none;
//             color: $primaryDark;
//             border-bottom: 1px solid rgba(0, 0, 0, 0.2);
//           }

//           a:hover {
//             background-color: rgba(0, 0, 0, 0.4);
//             color: $primaryDark;
//           }
//         }

//         li.active a {
//           background-color: rgba(0, 0, 0, 0.6);
//           color: $primaryDark;
//         }
//       }

//       div.links {
//         padding: 5%;
//         text-align: center;
//         display: grid;
//         grid-template-columns: repeat(3, 1fr);
//         a {
//           color: $primaryDark;
//           font-size: 2rem;
//         }
//       }

//       ul.hide,
//       div.hide {
//         display: none;
//       }
//     }
//   }
// }

div#navWrapper {
  background-color: white;
  width: 100%;
  nav {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

    div.header-nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 2%;

      div.logo {
        position: relative;

        img {
          width: 44px;
        }
      }

      button {
        position: relative;
        background: none;
        border: none;
        display: inline-block;
        height: 44px;
        width: 44px;
        cursor: pointer;

        .line {
          position: absolute;
          height: 2px;
          width: 60%;
          background-color: $primaryDark;
          border-radius: 2px;
          transition: all cubic-bezier(0.2, 0.1, 0.2, 1.2) 0.3%;
        }
        .top,
        .middle,
        .bottom {
          left: 20%;
        }
        .top {
          top: 29%;
        }
        .middle {
          top: 48%;
        }
        .bottom {
          top: 67%;
        }
      }
    }

    #hamburgerBtn.open {
      .top {
        transform: rotate(45deg);
        top: 48%;
      }
      .middle,
      .bottom {
        transform: rotate(-45deg);
        top: 48%;
      }
    }

    div.ulDiv {
      height: 0;
      overflow: hidden;
      width: 100%;
      background-color: white;
      margin: 0;
      padding: 0;
      z-index: 3;
      padding: 0 2%;
      ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        li {
          border-top: 1px solid lighten($primaryDark, 10%);
        }
        li a {
          color: $primaryDark;
          display: block;
          width: 100%;
          margin: 5px 0;
          height: 32px;
          display: flex;
          align-items: center;
          justify-content: right;
          text-decoration: none;
        }
      }

      div.links {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding-bottom: 2%;
        a {
          margin: 0 2rem;
          i {
            font-size: 2.25rem;
            color: $primaryDark;
          }
        }
      }
    }

    div#ulDiv.open {
      height: auto;
    }
  }
}

.hide {
  display: none;
}
//Main
div#mainWrapper {
  main {
    // Landing-section
    padding-bottom: 0;
    div#landingSectionWrapper {
      div#landing-section {
        background-image: url(../img/logo-background-320x700.svg);
        background-repeat: no-repeat;
        background-size: fit;
        background-position: center;
        background-color: $primaryDark;
        height: 95vh;

        div.landing-text {
          display: flex;
          flex-direction: column;
          justify-content: center;
          height: 100%;
          padding: 0 2%;

          h1,
          h3,
          p {
            margin: 1% 2%;
            color: white;
          }
          button {
            text-align: left;
            width: 45%;
            height: 44px;
            margin: 2% 2%;
            border-style: none;
            background-color: $primaryColor;
            color: white;
            padding: 2% 2%;
            border-radius: 5px;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
              0 3px 6px rgba(0, 0, 0, 0.23);
            i {
              margin-left: 0.5rem;
            }
          }
        }
      }
    }

    div#aboutSectionWrapper {
      // about-section
      background-color: lighten($primaryDark, 10%);
      padding: 5% 2%;

      div#about-section {
        display: flex;
        flex-direction: column;
        color: white;
        p {
          letter-spacing: 1px;
        }
      }

      div.skills-card {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;

        div.card {
          background-color: white;
          margin: 1%;
          padding: 2%;
          border-radius: 10px;
          background-color: lighten($primaryDark, 7%);
          display: flex;
          flex-direction: column;

          div.wrapper {
            background-color: $primaryDark;
            border-radius: 10px;

            div.card-header {
              display: flex;
              flex-direction: column;
              margin: 0;
              color: white;

              div {
                display: flex;
                align-items: flex-end;
                width: 100%;
                border-bottom: solid 1px lighten($primaryDark, 10%);
                padding: 3%;

                h3 {
                  margin: 0;
                }
                i {
                  font-size: 2.5rem;
                  color: white;
                  margin-right: 10px;
                }
              }
              p {
                margin: 1% 0;
                padding: 3%;
              }
            }
            div.secondary-header {
              margin: 0;
              color: white;
              padding: 3%;
              p i {
                font-size: 2rem;
                margin: 0 2%;
              }
              p {
                i.fa-html5 {
                  color: #e34417;
                }
                i.fa-css3-alt {
                  color: #264de4;
                }
                i.fa-sass {
                  color: #c76494;
                }
                i.fa-js {
                  color: darken(#efd81d, 2%);
                }
              }
            }
            div.card-footer {
              margin: 0;
              padding: 3%;
              h4 {
                color: white;
              }
              ul {
                list-style-type: none;
                padding: 0;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 3px;
                color: white;
              }
            }
          }
        }
      }
    }

    div#recent-work {
      max-width: 70rem;
      margin: auto;
      h2 {
        padding: 0 2%;
        color: $primaryDark;
      }
      div.cards {
        padding: 0 2%;

        div.card {
          margin: 0 1px;
          background-color: $primaryDark;
          border-radius: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;

          h1 {
            text-align: center;
            color: white;
          }
          .green {
            background-color: green;
            width: 100%;
            height: 100px;
          }
          button.cardBtn {
            width: 75%;
            border-radius: 5px;
            border-style: none;
            margin: 3%;
          }
        }
      }
    }

    div#contact {
      background-color: lighten($primaryDark, 10%);
      width: 100%;
      margin-top: 5%;
      padding: 5% 0;
      h2 {
        color: white;
        text-align: center;
        margin: 0;
        padding-top: 2%;
      }
      form#myForm {
        padding: 0 2%;
        margin: 0;
        p {
          display: flex;
          flex-direction: column;
          color: white;
          input {
            margin-top: 1%;
            border-radius: 5px;
            padding: 2%;
            border-style: none;
          }
          textarea.text-area {
            padding: 2%;
            height: 10rem;
            width: 100%;
            margin-top: 1%;
            border-radius: 5px;
            border-style: none;
          }

          button {
            width: 50%;
            padding: 2%;
            border-radius: 5px;
            border-style: none;
            cursor: pointer;
          }
        }
      }
    }
  }
}

//Footer
div#footerWrapper {
  footer {
    background-color: $primaryDark;
    padding: 1% 0;
    color: white;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;

    div.links {
      margin: 1%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      text-align: center;

      a {
        color: white;
        display: flex;
        flex-direction: column;
        text-decoration: none;

        i {
          margin: 3%;
          font-size: 2rem;
        }
      }
    }

    div.footerNav {
      width: 100%;

      ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        gap: 10px;
        padding: 0;
        text-align: center;
        li {
          list-style-type: none;
          a {
            text-decoration: none;
            color: white;
            font-size: 1.05rem;
          }
        }
      }
    }

    p {
      text-align: center;
      a {
        color: white;
      }
    }
  }
}

//Other

// clear fix
.clearFix:after {
  content: "";
  display: table;
  clear: both;
}
