// @import "../pages/documentation/podcastCreation-Documentation/smallPodcastStyle";

/* rules here will be applied to all sizes, medium and large will modify from that */

/* Prevent adjustments of font size when orientation chagnes, iphones. */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  overflow-x: hidden;
}

/* Apply a natural box layout model to all elements */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

//Body
body {
  font-family: $fontFamily;
  margin: auto;
  overflow-x: hidden;
}

div#navWrapper {
  background-color: white;
  width: 100%;
  nav {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

    div.header-nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem 0;

      div.logo {
        position: relative;

        img {
          width: 44px;
        }
      }

      button#hamburgerBtn {
        position: relative;
        background: none;
        border: none;
        display: inline-block;
        height: 44px;
        width: 44px;
        cursor: pointer;
        padding: 0;
        i#menuIcon {
          font-size: 1.5rem;
          color: $primaryDark;
        }
      }
    }

    div.ulDiv {
      height: 0;
      overflow: hidden;
      width: 100%;
      background-color: white;
      margin: 0;
      padding: 0;
      z-index: 3;
      padding: 0 2%;
      ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        li {
          border-top: 1px solid lighten($primaryDark, 10%);
          padding: 0.2rem 0;
        }
        li a {
          color: $primaryDark;
          display: block;
          width: 100%;
          margin: 5px 0;
          height: 32px;
          font-size: 1.25rem;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          text-decoration: none;
        }
        li a:hover {
          color: $primaryColor;
        }
      }

      div.links {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 1rem;
        a {
          margin: 0 2rem;
          i {
            font-size: 2.25rem;
            color: $primaryDark;
          }
        }
      }
    }

    div#ulDiv.open {
      height: auto;
    }
  }
}

.hide {
  display: none;
}
//Main
div#mainWrapper {
  main {
    // Landing-section
    padding-bottom: 0;
    div#landingSectionWrapper {
      div#landing-section {
        background-image: url(../img/logo-background-320x700.svg);
        background-repeat: no-repeat;
        background-size: fit;
        background-position: center;
        background-color: $primaryDark;
        height: 95vh;

        div.landing-text {
          display: flex;
          flex-direction: column;
          justify-content: center;
          height: 100%;
          padding: 0 2%;

          h1,
          h3,
          p {
            margin: 1% 2%;
            color: white;
          }
          button {
            cursor: pointer;
            text-align: left;
            width: 45%;
            height: 44px;
            margin: 2% 2%;
            border-style: none;
            background-color: $primaryColor;
            color: white;
            padding: 2% 2%;
            border-radius: 5px;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
              0 3px 6px rgba(0, 0, 0, 0.23);
            i {
              margin-left: 0.5rem;
            }
          }
          button:hover {
            background-color: darken($primaryColor, 5%);
          }
        }
      }
    }

    div#aboutSectionWrapper {
      // about-section
      background-color: lighten($primaryDark, 10%);
      padding: 1rem 1rem;
      div#about-section {
        display: flex;
        flex-direction: column;
        color: white;
        h2 {
          margin: 0;
        }
        p {
          letter-spacing: 1px;
        }
      }

      div.skills-card {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
        // padding: 0;
        div.card {
          background-color: white;
          margin: 1%;
          padding: 0.5rem;
          border-radius: 10px;
          background-color: lighten($primaryDark, 7%);
          display: flex;
          flex-direction: column;

          div.wrapper {
            background-color: $primaryDark;
            border-radius: 10px;

            div.card-header {
              display: flex;
              flex-direction: column;
              margin: 0;
              color: white;

              div {
                display: flex;
                align-items: flex-end;
                width: 100%;
                border-bottom: solid 1px lighten($primaryDark, 10%);
                padding: 3%;

                h3 {
                  margin: 0;
                }
                i {
                  font-size: 2.5rem;
                  color: white;
                  margin-right: 10px;
                }
              }
              p {
                margin: 1% 0;
                padding: 3%;
              }
            }
            div.secondary-header {
              margin: 0;
              color: white;
              padding: 3%;
              p i {
                font-size: 2rem;
                margin: 0 2%;
              }
              p {
                i.fa-html5 {
                  color: #e34417;
                }
                i.fa-css3-alt {
                  color: #264de4;
                }
                i.fa-sass {
                  color: #c76494;
                }
                i.fa-js {
                  color: darken(#efd81d, 2%);
                }
              }
            }
            div.card-footer {
              margin: 0;
              padding: 3%;
              h4 {
                color: white;
              }
              ul {
                list-style-type: none;
                padding: 0;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 3px;
                color: white;
              }
            }
          }
        }
        div.wrapper:hover {
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
            0 3px 6px rgba(0, 0, 0, 0.23);
        }
      }
    }

    div#contactWrapper {
      width: 100%;
      background-color: lighten($primaryDark, 25%);
    }

    div#contact {
      padding: 1rem 0;
      h2 {
        color: white;
        text-align: center;
        margin: 0;
        padding-top: 1rem;
      }
      form#myForm {
        padding: 0 1rem;
        margin: 0;
        p {
          display: flex;
          flex-direction: column;
          color: white;
          input {
            margin-top: 1rem;
            border-radius: 5px;
            padding: 1rem;
            border-style: none;
          }
          textarea.text-area {
            padding: 1rem;
            height: 10rem;
            width: 100%;
            margin-top: 1rem;
            border-radius: 5px;
            border-style: none;
          }

          button {
            width: 50%;
            padding: 1rem;
            border-radius: 5px;
            border-style: none;
            cursor: pointer;
            background-color: $primaryColor;
            color: white;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
              0 3px 6px rgba(0, 0, 0, 0.23);
          }
          button:hover {
            background-color: darken($primaryColor, 5%);
          }
        }
      }
    }

    // Work.html Style

    div.workWrapper {
      margin-top: 5.5rem;
    }
  }

  main.aboutMain {
    margin-top: 62px;

    div.topSection {
      background-color: $primaryDark;
      padding: 2rem 2%;
      width: 100%;
      height: 60vh;
      div.myFace {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: white;
        div.img {
          background-color: $primaryColor;
          height: 125px;
          width: 125px;
          border-radius: 50%;
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
            0 3px 6px rgba(0, 0, 0, 0.23);
        }
      }

      div.aboutContainer {
        div.bio {
          p {
            color: white;
          }
        }
      }
    }
  }
}

//Footer
div#footerWrapper {
  width: 100%;
  background-color: $primaryDark;
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    div.links {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      a {
        color: white;
        font-size: 44px;
      }
    }
    div.footerNav {
      width: 100%;
      ul.footerNav__UL {
        width: 100%;
        padding: 0;
        display: flex;
        justify-content: space-evenly;
        li {
          list-style: none;
          a {
            color: white;
            text-decoration: none;
            height: 44px;
            font-size: 1.5rem;
          }
        }
      }
    }

    p {
      text-align: center;
      color: white;
      a {
        color: $primaryColor;
        text-decoration: none;
      }
      a:hover {
        text-decoration: underline;
      }
    }
  }
}

//Other

// clear fix
.clearFix:after {
  content: "";
  display: table;
  clear: both;
}

div#ArticlemainWrapper {
  background-color: $primaryDark;
  min-height: 70vh;
  margin-top: 4rem;
  #articleMAIN {
    max-width: 70rem;
    margin: auto;
    color: white;
    padding: 2rem 1rem;
    section {
      margin: 1rem 0;
    }
    section.cardSection {
      h2 {
        margin: 0;
      }
      div#articleCards {
        margin: 1rem 0;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        a.card {
          border-radius: 15px;
          text-decoration: none;
          color: white;
          height: 15rem;
          width: 100%;

          div.inner__card {
            border-radius: 15px;
            width: 100%;
            height: 100%;
            background-color: #01c38c10;
            display: flex;
            flex-wrap: wrap;
            align-items: flex-end;
            div.cardText {
              width: 100%;
              border-radius: 0 0 15px 15px;
              background-color: rgba(0, 0, 0, 0.5);
              padding: 0 1rem;
            }
          }
        }
        a.card:hover {
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
            0 6px 6px rgba(0, 0, 0, 0.16);
        }
      }
    }
    section#work {
      h2 {
        margin: 0;
      }
    }
  }
}

.GL__card {
  background: url(../pages/documentation/articles/ghostlab/img/GL-outline.png)
    no-repeat right;
}
.IG__card {
  background: url(../img/articles/ig/hero-small.jpg) no-repeat center;
}
.Podcast__card {
  background: url(../img/articles/Podcast/content/jukka-aalho-_t9c-kmMjl8-unsplash-medium.jpg)
    no-repeat;
}
.SvelteKit__card {
  background: url("https://miro.medium.com/max/1000/1*joB4ddC9_-3okvy0r8_CPQ.png")
    no-repeat center;
}
.SASS__card {
  background: url(../pages/documentation/articles/sass-DGM2740/img/white-e44bed0d.png)
    no-repeat center #cd669a;
}
.CODE__card {
  background: url(../pages/documentation/articles/code-vs-cms-DGM221R/img/small.jpg)
    no-repeat center;
}
.DOC__card {
  background: url(../pages/documentation/articles/documenting-DGM2341/img/small.jpg)
    no-repeat center;
  background-size: 100%;
}
.Group__card {
  background: url(../pages/documentation/articles/groupWork-DGM2240/img/small.jpg)
    no-repeat right;
}
.Poke__card {
  background: url(../img/articles/work/fixed-newpokeball.png) no-repeat center;
}
.StarWars__card {
  background: url(../img/articles/work/bb8.png) no-repeat center;
}
.Congress__card {
  background: url(../img/articles/work/capitol.png) no-repeat center;
  background-size: 50%;
}
.SpaceAPI__card {
  background: url(../pages/projects/apod/aldebaran-s-qtRF_RxCAo0-unsplash.jpg)
    no-repeat center;
}
.RnM__card {
  background: url(../img/articles/DGM/capstoneProject-art_WallpapercaveImageDownload-small.jpg)
    no-repeat center;
}
.DGM2740__card {
  background: url(../pages/projects/classwork/DGM2740-capstone/img/content/hero-imgs/originals/comicWall.jpg)
    no-repeat center;
  background-size: 120%;
}
.ResearchDocument__card {
  background: url(../img/articles/work/reserachDoc-TitlePage.png) no-repeat
    center;
  background-size: 100%;
}
.SveltekitMarvel__card {
  background: url(../img/articles/work/mulyadi-kL4coQHVj_A-unsplash.jpg)
    no-repeat center;
  background-size: 100%;
}
.JS__card {
  background: url(../img/articles/work/Unofficial_JavaScript_logo_2.svg.png)
    no-repeat right;
  background-size: 80%;
  background-color: #f7e018;
}

.dgm1110__card {
  background: url(../img/articles/adobe.jpg) no-repeat center;
  background-size: 99%;
}

p.classCite {
  color: lighten($primaryDark, 20);
}

div.imageWrapper {
  margin: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  img.articleTitleImage {
    width: 80%;
    border: solid 1px $primaryDark;
  }
  img.GLarticleImage {
    width: 100%;
  }
  a {
    display: flex;
    justify-content: center;
    img.articleTitleImage {
      width: 80%;
      border: solid 1px $primaryDark;
    }
  }
}

main#thanks {
  background-color: $primaryDark;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
  color: white;
  .lottie {
    width: 50%;
    height: auto;
  }
}
