@import url("https://use.typekit.net/vtb7jtw.css");

$fontFamily: source-sans-3, sans-serif;
$fontNormal: normal;
$fontItalic: italic;
$fontBold: 700;
$fontRegular: 400; 

// color Pallette
$primaryColor: #01c38d;
$secondaryDark: #132d46;
$primaryDark: #191e29;
$SecondaryLight: #696e79;
$lightColor: #fff;

// Color Pallette 2
// $primaryColor: #116466;
// $primaryDark: #2c3531;
// $bronzeDark: #d9b08c;
// $bronzeLight: #ffcb9a;
// $lightColor: #D1e8e2;

// Color Pallette 3
// $primaryColor: #85ebd9;
// $secondaryDark: #3d898d;
// $primaryDark: #2f404d;
// $SecondaryLight: #b0acb0;
// $lightColor: #e2dddf;
