@import url("https://use.typekit.net/vtb7jtw.css");

$fontFamily: source-sans-3, sans-serif;
$fontNormal: normal;
$fontItalic: italic;
$fontBold: 700;
$fontRegular: 400;

// color Pallette
$primaryColor: #01c38d;
$secondaryDark: #132d46;
$primaryDark: #191e29;
$SecondaryLight: #696e79;
$lightColor: #fff;

