//! Article Styling: Podcast Creation
.articleMain {
  margin-top: 4rem; // FIX FOR BIGGER SIZES
  height: auto;
  div#articleHeader-IG {
    background: url(../../../img/articles/ig/hero-small.jpg) no-repeat
      center/100%;
    height: 9.25rem;
    color: white;
    padding: 0.5rem;
    display: flex;
    align-items: flex-end;
  }

  div#IG-article {
    padding: 0 0.5rem;

    a.IG-LINK {
      text-decoration: none;
      color: $primaryDark;
    }

    div.IG-a2 {
      div {
        section.IG-s1 {
          div.IG_section-Div {
            img {
              width: 100%;
              height: auto;
              box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
                0 3px 6px rgba(0, 0, 0, 0.23);
            }
          }
        }
        section.IG-s2 {
          div.IG_section-Div {
            img {
              width: 100%;
              height: auto;
              box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
                0 3px 6px rgba(0, 0, 0, 0.23);
            }
          }
        }
        section.IG-s3 {
          div.IG_section-Div {
            div.swiper {
              div.swiper-wrapper {
                div.x1 {
                  display: flex;
                  justify-content: center;
                  align-items: center;

                  div.swiperImgWrapper {
                    width: 100%;

                    img#igImg {
                      width: 100%;
                      height: auto;
                    }
                  }
                }
                div.x2 {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  div.swiperImgWrapper {
                    width: 100%;

                    img#igImg {
                      width: 100%;
                      height: auto;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
