//! Ghostlab Article Styling
#SvelteKit_MainWrapper {
  #SvelteKit-Main {
    margin-top: 0;
    div#SvelteKit_ArticleHeader {
    }
  }
}

#SvelteKit_Article {
  max-width: 40rem;
  margin: auto;
}

div#SvelteKit-h1__Wrapper {
  div#SvelteKit__Title {
    max-width: 70rem;
    margin: auto;
  }
}

iframe.tutorialVideo {
  height: 300px;
}
