//! SvelteKit Article Styling
#SvelteKit_MainWrapper {
  #SvelteKit-Main {
    margin-top: 4rem;
    div#SvelteKit_ArticleHeader {
      background: url(/pages/documentation/articles/ghostlab/img/GL-outline.png)
        no-repeat right bottom $primaryDark;
      height: 300px;
      display: flex;
      justify-content: flex-end;
      div#SvelteKit-h1__Wrapper {
        background-color: rgba(0, 0, 0, 0.5);
        padding: 1rem;
        width: 100%;
        height: 100%;
        div#SvelteKit__Title {
          display: flex;
          align-items: flex-end;
          width: 100%;
          height: 100%;
          h1 {
            font-size: 2rem;
            margin: 0;
            color: white;
          }
        }
      }
    }
  }
}

#ArticleInfo {
  display: grid;
  grid-template-columns: 3fr 4px 3fr;
  background-color: $primaryDark;
  color: $primaryColor;

  section#dateWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    p {
      margin: 0;
      margin-left: 0.5rem;
    }
  }
  .line {
    background-color: $primaryColor;
  }
}

#SvelteKit_Article {
  padding: 0 1rem;
  section {
    p {
      line-height: 1.5rem;
    }
  }
}

iframe.tutorialVideo {
  width: 100%;
  height: 250px;
}

ul.gl-CoolTools__UL {
  li {
    margin: 1rem 0;
  }
}
