#JavaScript_MainWrapper {
  #JavaScript-Main {
    margin-top: 0;
  }
}

#JavaScript_Article {
  max-width: 40rem;
  margin: auto;
}

div#JavaScript-h1__Wrapper {
  div#JavaScript__Title {
    max-width: 70rem;
    margin: auto;
  }
}
