#JavaScript-Main {
  margin-top: 0;
}

#JavaScript_Article {
  max-width: 40rem;
  margin: auto;
}

div#JavaScript_MainWrapper {
  main#JavaScript-Main {
    div#JavaScript__ArticleHeader {
      background-position: bottom right;
    }
  }
}
