//! Article Styling: Podcast Creation
.articleMain {
  div#articleHeader {
    background: url(../img/articles/Podcast/content/jukka-aalho-_t9c-kmMjl8-unsplash-medium.jpg)
      no-repeat center/100%;
  }
  div#article {
    padding: 0 0.5rem;
    div#podcastImgDiv {
      display: flex;
      justify-content: center;
      img#podcastImg {
        width: 75%;
        height: auto;
      }
    }
  }
}

//! Swiper Styling
.swiper {
  width: 75%;
}

div.swiperCoverArt {
  height: auto;
  background-color: lighten($color: $secondaryDark, $amount: 5);
  @for $i from 1 to 4 {
    div.a#{$i} {
      padding: 0.5rem;
      color: white;
      margin-bottom: 2rem;
      div#swiperImgWrapper {
        #sliderImg {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}

div.swiperOne {
  height: auto;
  @for $i from 1 to 3 {
    div.x#{$i} {
      padding: 0.5rem;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 3fr 1fr;
      background-color: lighten($color: $secondaryDark, $amount: 5);
      color: white;
      div#swiperImgWrapper {
        #sliderImg {
          width: 100%;
          height: auto;
        }
      }

      p {
        margin: 0;
        background-color: darken($color: $secondaryDark, $amount: 1);
        padding: 0.5rem;
        margin-bottom: 1rem;
      }
    }
  }
}

div.swiperTwo {
  height: 40rem;
  @for $x from 1 to 3 {
    div.s#{$x} {
      padding: 0.5rem;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 3fr 1fr;
      background-color: lighten($color: $secondaryDark, $amount: 5);
      color: white;
      div#swiperImgWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        #sliderImg {
          width: 100%;
          height: auto;
        }
      }

      p {
        margin: 0;
        background-color: darken($color: $secondaryDark, $amount: 1);
        padding: 0.5rem;
        margin-bottom: 1rem;
      }
    }
  }
}
a.podcastLink {
  color: green;
  margin-left: 0.5rem;
}

div#iterationsDiv {
  background-color: lighten($color: $secondaryDark, $amount: 5);
  padding: 0.5rem;
  color: white;
  ul#iterationUL {
    padding: 0;

    li {
      list-style: none;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      margin-bottom: 1rem;
    }
    li:before {
      content: "🎙️";
      margin: 0 1rem;
    }
  }
}
