//! Article Styling: Podcast Creation
.articleMain {
  margin-top: 4rem; // FIX FOR BIGGER SIZES
  height: auto;
  div#articleHeader {
    background: url(../img/articles/Podcast/content/jukka-aalho-_t9c-kmMjl8-unsplash_small414px.jpg);
    height: 9.25rem;
    color: white;
    padding: 0.5rem;
    display: flex;
    align-items: flex-end;
  }
  div#articleNav {
    padding: 0.5rem;
    background-color: $SecondaryLight;
    :nth-child(1) {
      margin-right: 1rem;
    }
    button {
      background: none;
      border: none;
      color: white;
      height: 44px;
      width: 4rem;
      padding: 0;
      font-size: 1.5rem;
      text-align: left;
    }
  }
  div#article {
    padding: 0 0.5rem;
    section {
      h3 {
        color: lighten($color: $primaryDark, $amount: 50);
      }
    }

    .a1 {
      div {
        p {
          span {
            color: rgb(7, 170, 127);
          }
        }
      }
    }

    img#podcastImg {
      width: 100%;
      height: auto;
    }
  }
}

//! Swiper Styling
.swiper {
  width: 100%;
  cursor: grab;
}

div.swiperCoverArt {
  height: auto;
  background-color: lighten($color: $secondaryDark, $amount: 5);
  @for $i from 1 to 4 {
    div.a#{$i} {
      padding: 0.5rem;
      color: white;
      margin-bottom: 2rem;
      div#swiperImgWrapper {
        #sliderImg {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}

div.swiperOne {
  height: auto;
  @for $i from 1 to 3 {
    div.x#{$i} {
      padding: 0.5rem;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 3fr 1fr;
      background-color: lighten($color: $secondaryDark, $amount: 5);
      color: white;
      div#swiperImgWrapper {
        #sliderImg {
          width: 100%;
          height: auto;
        }
      }

      p {
        margin: 0;
        background-color: darken($color: $secondaryDark, $amount: 1);
        padding: 0.5rem;
        margin-bottom: 1rem;
      }
    }
  }
}

div.swiperTwo {
  height: 40rem;
  @for $x from 1 to 3 {
    div.s#{$x} {
      padding: 0.5rem;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 3fr 1fr;
      background-color: lighten($color: $secondaryDark, $amount: 5);
      color: white;
      div#swiperImgWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        #sliderImg {
          width: 100%;
          height: auto;
        }
      }

      p {
        margin: 0;
        background-color: darken($color: $secondaryDark, $amount: 1);
        padding: 0.5rem;
        margin-bottom: 1rem;
      }
    }
  }
}
a.podcastLink {
  color: green;
  margin-left: 0.5rem;
}

div#iterationsDiv {
  background-color: lighten($color: $secondaryDark, $amount: 5);
  padding: 0.5rem;
  color: white;
  ul#iterationUL {
    padding: 0;

    li {
      list-style: none;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      margin-bottom: 1rem;
    }
    li:before {
      content: "🎙️";
      margin: 0 1rem;
    }
  }
}

#anchor {
  color: rgb(7, 170, 127);
}
