
#DOC_MainWrapper {
  #DOC-Main {
    margin-top: 0;
  }
}

#DOC_Article {
  max-width: 40rem;
  margin: auto;
}

div#DOC-h1__Wrapper {
  div#DOC__Title {
    max-width: 70rem;
    margin: auto;
  }
}
