#DOC-Main {
  margin-top: 0;
}

#DOC_Article {
  max-width: 40rem;
  margin: auto;
}

div#DOC_MainWrapper {
  main#DOC-Main {
    div#DOC__ArticleHeader {
      background: url(/pages/documentation/articles/documenting-DGM2341/img/medium.jpg)
        bottom;
    }
  }
}
