#GroupWork_MainWrapper {
  #GroupWork-Main {
    margin-top: 0;
  }
}

#GroupWork_Article {
  max-width: 40rem;
  margin: auto;
}

div#GroupWork-h1__Wrapper {
  div#GroupWork__Title {
    max-width: 70rem;
    margin: auto;
  }
}
