#GroupWork-Main {
  margin-top: 0;
}

#GroupWork_Article {
  max-width: 40rem;
  margin: auto;
}

div#GroupWork_MainWrapper {
  main#GroupWork-Main {
    div#GroupWork__ArticleHeader {
      background: url(/pages/documentation/articles/groupWork-DGM2240/img/large.jpg)
        no-repeat center;
    }
  }
}
