//! Ghostlab Article Styling
#CODE_MainWrapper {
  #CODE-Main {
    margin-top: 0;
  }
}

#CODE_Article {
  max-width: 40rem;
  margin: auto;
}

div#CODE-h1__Wrapper {
  div#CODE__Title {
    max-width: 70rem;
    margin: auto;
  }
}
