#CODE-Main {
  margin-top: 0;
}

#CODE_Article {
  max-width: 40rem;
  margin: auto;
}

div#CODE_MainWrapper {
  main#CODE-Main {
    div#CODE__ArticleHeader {
      background: url(/pages/documentation/articles/code-vs-cms-DGM221R/img/medium.jpg);
    }
  }
}
