#Zapworks_MainWrapper {
  #Zapworks-Main {
    margin-top: 0;
  }
}

#Zapworks_Article {
  max-width: 40rem;
  margin: auto;
}



div#Zapworks-h1__Wrapper {
  div#Zapworks__Title {
    max-width: 70rem;
    margin: auto;
  }
}

