//! Ghostlab Article Styling
#dgm1110_MainWrapper {
  #dgm1110-Main {
    margin-top: 0;
    div#dgm1110_ArticleHeader {
  
    }
  }
}

#dgm1110_Article {
  max-width: 40rem;
  margin: auto;
}

div#dgm1110-h1__Wrapper {
  div#dgm1110__Title {
    max-width: 70rem;
    margin: auto;
  }
}

iframe.tutorialVideo {
  height: 300px;
}

