//! Ghostlab Article Styling
#SASS_MainWrapper {
  #SASS-Main {
    margin-top: 0;
    div#SASS_ArticleHeader {
    }
  }
}

#SASS_Article {
  max-width: 40rem;
  margin: auto;
}

div#SASS-h1__Wrapper {
  div#SASS__Title {
    max-width: 70rem;
    margin: auto;
  }
}
